@font-face {
        font-family: "Logotype";
        src: local(Logotype);
        src: url('Logotype.ttf') format('truetype')
}
@font-face {
        font-family: "EditPointsFilled";
        src: local(EditPointsFilled);
        src: url('EditPointsFilled.ttf') format('truetype')
}
 @font-face {
        font-family: "TheCenturion";
        src: local(The Centurion);
        src:  url('The Centurion .ttf') format('truetype')
}
@font-face {
    font-family: "Typewriter";
    src: local('Mom´sTypewriter');
    src: url('Moms_typewriter-webfont.eot');
    src: url('Moms_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('Moms_typewriter-webfont.woff2') format('woff2'),
         url('Moms_typewriter-webfont.woff') format('woff'),
         url('Moms_typewriter-webfont.ttf') format('truetype'),
         url('Moms_typewriter-webfont.svg#momstypewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* noto-sans-egyptian-hieroglyphs-regular - egyptian-hieroglyphs */
@font-face {
    font-family: 'Noto Sans Egyptian Hieroglyphs';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/noto-sans-egyptian-hieroglyphs-v24-egyptian-hieroglyphs-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/noto-sans-egyptian-hieroglyphs-v24-egyptian-hieroglyphs-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/noto-sans-egyptian-hieroglyphs-v24-egyptian-hieroglyphs-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/noto-sans-egyptian-hieroglyphs-v24-egyptian-hieroglyphs-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/noto-sans-egyptian-hieroglyphs-v24-egyptian-hieroglyphs-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/noto-sans-egyptian-hieroglyphs-v24-egyptian-hieroglyphs-regular.svg#NotoSansEgyptianHieroglyphs') format('svg'); /* Legacy iOS */
}

#main{
    text-align: center;
}
#Name{
    position: relative; /* Ändere die Position auf relative */
    margin: 0 auto; /* Zentriere das Element horizontal */
    font-family: "Logotype";
    font-size: 230px;
    text-align: center;
    letter-spacing: 50px;
    line-height: 250px;
    height:200px;
    max-height: 190px;
    margin-top: 30px;
}
.hyrotextdown{
    margin-top: 50px;
    float: left;
    font-weight: bolder;
   color: #C3A588;
    text-shadow: 0px 0px 10px #F2DCD8;
    width: 20px;
    font-family: "Noto Sans Egyptian Hieroglyphs";
    font-size: 150px;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -80px;
    height: 1000px;
    margin-left: 0;
    transition: transform 2s ease;
    transform: translateY(-100px); /* Beispiel: Ändere den Wert für die Animation */
}
.hyrotextdown2 {
    margin-top: 50px;
    float: left;
    color: #C3A588;
    text-shadow: 0px 0px 10px #F2DCD8;
    width: 20px;
    font-family: "Noto Sans Egyptian Hieroglyphs";
    font-size: 150px;
    font-weight: bolder;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -80px;
    height: 1000px;
    margin-left: 0;
    transition: transform 2s ease;
    transform: translateY(-100px); /* Beispiel: Ändere den Wert für die Animation */
}

.image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative; /* Ändere die Position auf relative */
    margin: 0 auto; /* Zentriere das Element horizontal */
    margin-top: 400px;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}
.image > *{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.image .ellipse{
    z-index: 2;
    width: 230px;
    height: 230px;
    background-color:rgba(233, 212, 142, 0.63);
    border-radius: 115px;
    margin: 0 auto; /* Zentriere das Element horizontal */

}
.image .img{
    z-index: 1;
    width: 230px;
    height: 230px;
    margin: 0 auto; /* Zentriere das Element horizontal */
    border-radius: 50%; /* Macht das Bild rund */
    object-fit: cover;
}
.arr2-body{
    z-index: 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Zentriere das Element horizontal */

}
.arr2{
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 12px solid #000000;
    border-left: 12px solid #000000;
    animation: arrow-load 2s infinite;
}
.arr2:nth-child(1){
    animation-delay: 0.4s;
}
.arr2:nth-child(2){
    animation-delay: -0.5s;
}


@keyframes arrow-load {
    0%{
        opacity: 0;
        transform: rotate(-135deg) translateX(50px) translateY(50px);
    }
    50%{
        opacity: 1;
    }
    100%{
          opacity: 0;
          transform: rotate(-135deg) translateX(-50px) translateY(-50px);
      }
}
